language: php
php:
  - 7.1
  - 7.2
  - 7.3

# Cache Composer deps
cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - travis_retry composer self-update
  - travis_retry composer install

script:
  - vendor/bin/phpstan analyze src tests
  - XDEBUG_MODE=coverage vendor/bin/phpunit
